---
layout: default
title: OSHARA | Course Detail
---


<!-- Begining Hero section -->
<section class="hero">
    <div class="container">
        <div class="hero-carousel splide" id="hero-carousel">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <div class="hero-carousel__text">
                            <h1 class="hero-carousel__title">Digital Marketing For SMBs With Greg Gifford</h1>
                            <p class="hero-carousel__desc">In 10 lessons, prominent industry expert Greg Gifford will
                                give
                                you a solid understanding of the basics of digital marketing.</p>
                            <a href="#" class="btn btn-outline-primary">Enroll for free (fr)</a>
                        </div>
                        <picture class="hero-carousel__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/hero-carousel-img.png">
                            <source media="(min-width: 320px)" srcset="./assets/images/hero-carousel-img.png">
                            <img src="./assets/images/hero-carousel-img.png" alt="" width="786" height="978">
                        </picture>
                    </div>
                    <div class="splide__slide">
                        <div class="hero-carousel__text">
                            <h1 class="hero-carousel__title">Digital Marketing For SMBs With Greg Gifford</h1>
                            <p class="hero-carousel__desc">In 10 lessons, prominent industry expert Greg Gifford will
                                give
                                you a solid understanding of the basics of digital marketing.</p>
                            <a href="#" class="btn btn-outline-primary">Enroll for free (fr)</a>
                        </div>
                        <picture class="hero-carousel__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/hero-carousel-img.png">
                            <source media="(min-width: 320px)" srcset="./assets/images/hero-carousel-img.png">
                            <img src="./assets/images/hero-carousel-img.png" alt="" width="786" height="978">
                        </picture>
                    </div>
                    <div class="splide__slide">
                        <div class="hero-carousel__text">
                            <h1 class="hero-carousel__title">Digital Marketing For SMBs With Greg Gifford</h1>
                            <p class="hero-carousel__desc">In 10 lessons, prominent industry expert Greg Gifford will
                                give
                                you a solid understanding of the basics of digital marketing.</p>
                            <a href="#" class="btn btn-outline-primary">Enroll for free (fr)</a>
                        </div>
                        <picture class="hero-carousel__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/hero-carousel-img.png">
                            <source media="(min-width: 320px)" srcset="./assets/images/hero-carousel-img.png">
                            <img src="./assets/images/hero-carousel-img.png" alt="" width="786" height="978">
                        </picture>
                    </div>
                    <div class="splide__slide">
                        <div class="hero-carousel__text">
                            <h1 class="hero-carousel__title">Digital Marketing For SMBs With Greg Gifford</h1>
                            <p class="hero-carousel__desc">In 10 lessons, prominent industry expert Greg Gifford will
                                give
                                you a solid understanding of the basics of digital marketing.</p>
                            <a href="#" class="btn btn-outline-primary">Enroll for free (fr)</a>
                        </div>
                        <picture class="hero-carousel__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/hero-carousel-img.png">
                            <source media="(min-width: 320px)" srcset="./assets/images/hero-carousel-img.png">
                            <img src="./assets/images/hero-carousel-img.png" alt="" width="786" height="978">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumbnail-slider splide" id="thumbnail-slider">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <picture class="thumbnail-slider__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <img src="./assets/images/course-thumbnail-1.jpg" alt="" width="378" height="287">
                        </picture>
                    </div>
                    <div class="splide__slide">
                        <picture class="thumbnail-slider__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <img src="./assets/images/course-thumbnail-1.jpg" alt="" width="378" height="287">
                        </picture>
                    </div>
                    <div class="splide__slide">
                        <picture class="thumbnail-slider__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <img src="./assets/images/course-thumbnail-1.jpg" alt="" width="378" height="287">
                        </picture>
                    </div>
                    <div class="splide__slide">
                        <picture class="thumbnail-slider__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-1.jpg">
                            <img src="./assets/images/course-thumbnail-1.jpg" alt="" width="378" height="287">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- End hero section -->
<!-- Begining details section -->
<section class="details">
    <div class="container">
        <div class="d-lg-flex  details__list">
            <div class="details__item">
                <img src="./assets/static-svgs/lesson.svg" alt="" width="95" height="93">
                <h3 class="details__title">20 lessons</h3>
                <p class="details__desc">Exclusive video lessons from recognized SEO expert, Brian Dean</p>
            </div>
            <div class="details__item">
                <img src="./assets/static-svgs/clock.svg" alt="" width="95" height="93">
                <h3 class="details__title">3 hours</h3>
                <p class="details__desc">Learn exactly how to grow your blog using cutting edge strategies that are
                    working
                    right now in just 3 hours.</p>
            </div>
            <div class="details__item">
                <img src="./assets/static-svgs/tag.svg" alt="" width="95" height="93">
                <h3 class="details__title">100% free</h3>
                <p class="details__desc">Use your free Semrush account to get unlimited access to all lessons</p>
            </div>
        </div>
        <div class="details-info">
            <h2 class="details-info__title">Who is this course for?</h2>
            <p class="details-info__desc">
                This course is designed for anyone who is looking to grow a successful blog in record time.</p>
            <p class="details-info__desc">Content includes advanced strategies, tactics, and techniques that goes beyond
                the typical blogging advice so you can focus on taking your blog to the next level.</p>
            <p class="details-info__desc">Inside the course you'll find: video tutorials, worksheets, step-by-step
                frames and processes, and practical tips.</p>
            <a href="#" class="btn btn-round btn-solid-primary">Enroll for free (fr)</a>
        </div>
    </div>
</section>
<!-- End details section -->
<!-- Begin  author section -->
<section class="author">
    <div class="container">
        <div class="d-lg-grid align-items-center justify-content-between author__inner">
            <picture class="author__img">
                <source media="(min-width: 576px)" srcset="./assets/images/author-img.png">
                <source media="(min-width: 320px)" srcset="./assets/images/author-img.png">
                <img src="./assets/images/author-img.png" alt="" width="791" height="724">
            </picture>
            <div class="author__text">
                <h2 class="author__title">About the author</h2>
                <p class="author__desc">This course is designed for anyone who is looking to grow a successful blog in
                    record time. </p>
                <p class="author__desc">Content includes advanced strategies, tactics, and techniques that goes beyond
                    the typical blogging advice so you can focus on taking your blog to the next level.</p>
                <p class="author__desc"> Inside the course you'll find: video tutorials, worksheets, step-by-step frames
                    and processes, and practical tips.</p>
            </div>

        </div>
    </div>
</section>
<!-- End  author section -->
<!-- Begin Lesson structure section -->
<section class="structure">
    <div class="container">
        <div class="d-lg-flex justify-content-between structure__inner">
            <div class="structure__item">
                <img src="./assets/images/video-icon.png" alt="" width="106" height="98">
                <h3 class="structure__title">Video lessons</h3>
                <p class="structure__desc">Watch easy-to-follow video lessons.</p>
            </div>
            <div class="structure__item">
                <img src="./assets/images/book-icon.png" alt="" width="80" height="98">
                <h3 class="structure__title">Read further</h3>
                <p class="structure__desc">Study the handpicked materials to dive deeper.</p>
            </div>
            <div class="structure__item">
                <img src="./assets/images/quiz-icon.png" alt="" width="92" height="98">
                <h3 class="structure__title">Quiz</h3>
                <p class="structure__desc">Test what you've learned.</p>
            </div>
        </div>
    </div>
</section>
<!-- Begining Ready to start -->
<section class="lets-visit">
    <div class="lets-visit__wrapper">
        <div class="lets-visit__graphics">
            <img class="object-cover" src="./assets/images/graphics-bg.png" alt="">
        </div>
        <div class="container">
            <h2 class="lets-visit__title">Ready to start?</h2>
            <a href="#" class="btn btn-solid-secondary btn-round">Enroll for free (fr)</a>
        </div>
    </div>
</section>
<!-- End Ready to start -->

<!-- Begin Get certified -->
<section class="certified">
    <div class="container">
        <h2 class="text-lg-center text-uppercase cerified__title">What to do after the course</h2>
        <div class="d-lg-grid  align-items-center justify-content-between certified__inner">
            <div class="certified__text">
                <h2 class="text-uppercase certified__title">Get certified</h2>
                <p class="certified__desc">Seize the opportunity to pass the Advanced Content Marketing exam and earn your personal certificate. </p>
                <p class="certified__desc">If you already have sufficient knowledge of growing your blog in record time, you can bypass the educational part and test your skills right away by taking the exam. Upon passing, you’ll earn a certificate, which is proof of your mastery.</p>
            </div>
            <picture class="certified__img">
                <source media="(min-width: 576px)" srcset="./assets/images/author-img.png">
                <source media="(min-width: 320px)" srcset="./assets/images/author-img.png">
                <img src="./assets/images/author-img.png" alt="" width="791" height="724">
            </picture>
        </div>
    </div>
</section>
<!-- End Get certified -->

<!-- Begining course info section -->
<section class="courses course--more">
    <div class="container">
        <div class="course__head">
            <h2 class="text-uppercase text-strat course__title">You might also like</h2>
        </div>
        <div class="splide" id="upcomingCourseSlider">
            <div class="splide__arrows course__nav d-none d-md-block">
                <button class="d-none splide__arrow splide__arrow--prev">
                    <img src="./assets/static-svgs/arrow-right.svg" alt="">
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <img src="./assets/static-svgs/arrow-right.svg" alt="">
                </button>
            </div>
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-1.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-1.jpg">
                                <img class="object-cover" src="./assets/images/course-thumbnail-1.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford
                                        (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero
                                    eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-2.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-2.jpg">
                                <img class="object-cover" src="./assets/images/course-thumbnail-2.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford
                                        (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero
                                    eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-3.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-3.jpg">
                                <img class="object-cover" src="./assets/images/course-thumbnail-3.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford
                                        (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero
                                    eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/course-thumbnail-4.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/course-thumbnail-4.jpg">
                                <img class="object-cover" src="./assets/images/course-thumbnail-4.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford
                                        (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero
                                    eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End course info section -->

<!-- Begining marquee -->
<div class="lets-visit">
    <div class="marquee lets-visit-marquee">
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s
            Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s
            Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s
            Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s
            Start</h2>
    </div>
</div>
</section>
<!-- End marquee -->