---
layout: default
title: OSHARA | Course Detail
---
<section class="course-fr">
    <div class="container">
        <div class="d-md-grid align-items-center justify-content-between course-fr__head">
            <div class="col">
                <h2 class="course-fr__title">Intro (fr)</h2>
                <p class="course-fr__desc">Free Online SEO (French) course: Digital Marketing for SMBS with Grey Gifford
                    (fr)</p>
            </div>
            <div class="text-md-right col">
                <span class="text-uppercase">4 lessons (fr)</span>
                <span class="text-uppercase">28 Mar,2022</span>
            </div>
        </div>
        <div class="d-lg-grid justify-content-between course-fr__content">
            <aside class="sidebar">
                <h4 class="text-uppercase sidebar__title">Digital Marketing For SMBs With Greg Gifford</h4>
                <div class="sidebar-nav">
                    <ul class="sidebar-nav__list">
                        <li class="sidebar-nav__item">
                            <a href="#" class="text-uppercase sidebar-nav__link">Intro (fr) <img class="arrow-icon"
                                    src="./assets/static-svgs/arrow-yellow.svg" alt=""></a>
                        </li>
                        <li class="sidebar-nav__item">
                            <a href="#" class="text-uppercase sidebar-nav__link">Digital Marketing (fr)<img
                                    class="arrow-icon" src="./assets/static-svgs/arrow-yellow.svg" alt=""></a>
                        </li>
                        <li class="sidebar-nav__item">
                            <a href="#" class="text-uppercase sidebar-nav__link">Website (fr)<img class="arrow-icon"
                                    src="./assets/static-svgs/arrow-yellow.svg" alt=""></a>
                        </li>
                        </li>
                        <li class="sidebar-nav__item">
                            <a href="#" class="text-uppercase sidebar-nav__link">Email Marketing (fr)<img
                                    class="arrow-icon" src="./assets/static-svgs/arrow-yellow.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="progress">
                    <h6 class="text-uppercase progress__title">Course Progress: 2/4</h6>
                    <div class="progress-bar">
                        <span class="progress-bar__line"></span>
                    </div>
                </div>
            </aside>
            <div class="tab">
                <div class="tab__nav">
                    <ul class="d-md-flex justify-content-between tab__nav-list">
                        <li class="tab__nav-item">
                            <a href="#watch"
                                class="d-flex  align-items-center justify-content-srart text-uppercase tab__nav-link"><img
                                    src="./assets/static-svgs/arrow-left-white.svg" alt="" width="36" height="23">
                                Watch Video (fr)</a>
                        </li>
                        <li class="tab__nav-item">
                            <a href="#practice"
                                class="d-flex justify-content-end  align-items-center text-uppercase tab__nav-link">Put
                                into practice (fr)<img src="./assets/static-svgs/arrow-right-white.svg" alt=""
                                    width="36" height="23"></a>
                        </li>
                    </ul>
                </div>

                <div class="tab__body">
                    <div class="tab-content tab-content--watch" id="watch">
                        <picture class="tab-content__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/course-details-ft-img.png">
                            <source media="(min-width: 320px)" srcset="./assets/images/course-details-ft-img.png">
                            <img src="./assets/images/course-details-ft-img.png" alt="" width="378" height="287">
                        </picture>
                        <h2 class="tab-content__title">Recap (fr)</h2>
                        <p class="tab-content__desc">This course is designed for anyone who is looking to grow a
                            successful blog in record time.</p>
                        <p class="tab-content__desc">Content includes advanced strategies, tactics, and techniques that
                            goes beyond the typical blogging advice so you can focus on taking your blog to the next
                            level.</p>
                        <p class="tab-content__desc">
                            Inside the course you'll find: video tutorials, worksheets, step-by-step frames and
                            processes, and practical tips.</p>
                    </div>
                    <div class="tab-content tab-content--practice" id="practice">
                        <div class="tab-content__row">
                            <h2 class="tab-content__title">Test your knowledge (fr)</h2>
                            <p class="tab-content__desc">Put your knowledge into practice with the following exercises
                                (fr)</p>
                            <div class="tab-content__btn-wrap">
                                <a href="#" class="btn btn-solid-primary btn-round js-download-button">Download</a>
                                <ul class="tab-content__dropdown">
                                    <div class="tab-content__dropdown-top-arrow">
                                        <img src="./assets/static-svgs/top-arrow-fill.svg" width="36" height="28"
                                            alt="">
                                    </div>
                                    <li class="tab-content__dropdown-item">
                                        <a href=""
                                            class="d-flex align-items-center justify-content-between tab-content__dropdown-link">PDF<img
                                                src="./assets/static-svgs/download.svg" alt=""></a>
                                    </li>
                                    <li class="tab-content__dropdown-item">
                                        <a href=""
                                            class="d-flex align-items-center justify-content-between tab-content__dropdown-link">Word<img
                                                src="./assets/static-svgs/download.svg" alt=""></a>
                                    </li>
                                    </li>
                                    <li class="tab-content__dropdown-item">
                                        <a href=""
                                            class="d-flex align-items-center justify-content-between tab-content__dropdown-link">PPT<img
                                                src="./assets/static-svgs/download.svg" alt=""></a>
                                    </li>
                                    </li>
                                    <li class="tab-content__dropdown-item">
                                        <a href=""
                                            class="d-flex align-items-center justify-content-between tab-content__dropdown-link">Indesign<img
                                                src="./assets/static-svgs/download.svg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content__row">
                            <h2 class="tab-content__title">Test your knowledge (fr)</h2>
                            <p class="tab-content__desc">Put your knowledge into practice with the following exercises
                                (fr)<p>
                                    <div class="tab-content__btn-wrap">
                                        <a href="#download-dropdown"
                                            class="btn btn-solid-primary btn-round js-download-button">Download</a>
                                        <ul class="tab-content__dropdown" id="download-dropdown">
                                            <div class="tab-content__dropdown-top-arrow">
                                                <img src="./assets/static-svgs/top-arrow-fill.svg" width="36"
                                                    height="28" alt="">
                                            </div>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">PDF<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">Word<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                            </li>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">PPT<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                            </li>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">Indesign<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                        </div>
                        <div class="tab-content__row">
                            <h2 class="tab-content__title">Test your knowledge (fr)</h2>
                            <p class="tab-content__desc">Put your knowledge into practice with the following exercises
                                (fr)<p>
                                    <div class="tab-content__btn-wrap">
                                        <a href="#"
                                            class="btn btn-solid-primary js-download-button btn-round">Download</a>
                                        <ul class="tab-content__dropdown">
                                            <div class="tab-content__dropdown-top-arrow">
                                                <img src="./assets/static-svgs/top-arrow-fill.svg" width="36"
                                                    height="28" alt="">
                                            </div>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">PDF<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">Word<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                            </li>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">PPT<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                            </li>
                                            <li class="tab-content__dropdown-item">
                                                <a href=""
                                                    class="d-flex align-items-center justify-content-between tab-content__dropdown-link">Indesign<img
                                                        src="./assets/static-svgs/download.svg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>