---
layout: default
title: OSHARA | Home
---

<section class="hero">
    <div class="container">
        <div class="hero__grid">
            <div class="hero__text">
                <h1 class="hero__title">Digital Marketing For SMBs With Greg Gifford</h1>
                <p class="hero__desc">In 10 lessons, prominent industry expert Greg Gifford will give you a solid understanding of the basics of digital
                    marketing.</p>
                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
            </div>
            <picture class="hero__img">
                <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                <img class="object-cover" src="./assets/images/about.jpg" alt="" width="786" height="978">
            </picture>
        </div>
    </div>

    <div class="hero-label">
        <ul class="hero-label__list">
            <li class="hero-label__item">
                <img class="hero-label__icon" src="./assets/static-svgs/top-expert.svg" width="64" height="64" alt="">
                <div class="hero-label__text">
                    <h3 class="hero-label__title">Top Experts</h3>
                    <p class="hero-label__desc">Sharing proven step-by-step tactics</p>
                </div>
            </li>
            <li class="hero-label__item">
                <img class="hero-label__icon" src="./assets/static-svgs/100-free.svg" width="64" height="64" alt="">
                <div class="hero-label__text">
                    <h3 class="hero-label__title">100% Free</h3>
                    <p class="hero-label__desc">Education available to everyone</p>
                </div>

            </li>
            <li class="hero-label__item">
                <img class="hero-label__icon" src="./assets/static-svgs/valueable.svg" width="64" height="64" alt="">
                <div class="hero-label__text">
                    <h3 class="hero-label__title">Valuable certification</h3>
                    <p class="hero-label__desc">To enhance your career</p>
                </div>

            </li>
        </ul>

    </div>
</section>

<!-- Begining course info section -->
<section class="courses">
    <div class="container">
        <div class="course__marquee">
            <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Free Online Digital Marketing Courses and Exams</h2>
            <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Free Online Digital Marketing Courses and Exams</h2>
            <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Free Online Digital Marketing Courses and Exams</h2>
            <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Free Online Digital Marketing Courses and Exams</h2>
        </div>

        <div class="course__head">
            <h2 class="text-uppercase course__title">new and upcoming courses</h2>
        </div>
        <div class="splide" id="upcomingCourseSlider">
            <div class="splide__arrows course__nav d-none d-md-block">
                <button class="d-none splide__arrow splide__arrow--prev">
                   <img src="./assets/static-svgs/arrow-right.svg" alt="">
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <img src="./assets/static-svgs/arrow-right.svg" alt="">
                </button>
          </div>
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                                <img class="object-cover" src="./assets/images/about.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                                <img class="object-cover" src="./assets/images/about.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                                <img class="object-cover" src="./assets/images/about.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="card">
                            <picture class="card__img">
                                <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                                <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                                <img class="object-cover" src="./assets/images/about.jpg" alt="">
                            </picture>
                            <div class="card__body">
                                <div class="card-subtitle">
                                    <ul class="card-subtitle__list">
                                        <li>Brian dean</li>
                                        <li>5 lessons</li>
                                        <li>1 hour</li>
                                    </ul>
                                </div>
                                <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                                <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                                    dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                                <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="course course--all">
            <h2 class="text-uppercase course__title">all courses</h2>
            <div class="digital-marketing">
                <div class="digital-marketing__grid">
                    <div class="digital-marketing__text">
                        <div class="digital-marketing__text-inner">
                            <div class="digital-marketing__subtitle">
                                <ul>
                                    <li>20 lessons</li>
                                    <li>3 hours</li>
                                </ul>
                            </div>
                            <h3 class="digital-marketing__title">advanced content marketing with brian dean</h3>
                            <p class="digital-marketing__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quod nisi pariatur est recusandae fugit mollitia ducimus officiis, dolorum cum eius?</p>
                            <div class="btn-group">
                                <a href="#" class="btn btn-round btn-outline-secondary">enroll for free (fr)</a>
                                <a href="" class="btn-link">view course info</a>
                            </div>
                        </div>
                        <picture class="digital-marketing__bg">
                            <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                            <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                            <img class="object-cover" src="./assets/images/about.jpg" alt="">
                        </picture>

                    </div>
                    <div class="digital-marketing__thumb">
                        <picture class="digital-marketing__img">
                            <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                            <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                            <img class="object-cover" src="./assets/images/about.jpg" alt="">
                        </picture>
                        <h3 class="digital-marketing__thumb-text">Digital marketing For SMBs with Greg Gifford (fr)</h3>

                    </div>
                </div>
            </div>
            <div class="course__grid">
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
                <div class="card">
                    <picture class="card__img">
                        <source media="(min-width: 576px)" srcset="./assets/images/about.jpg">
                        <source media="(min-width: 320px)" srcset="./assets/images/about.jpg">
                        <img class="object-cover" src="./assets/images/about.jpg" alt="">
                    </picture>
                    <div class="card__body">
                        <div class="card-subtitle">
                            <ul class="card-subtitle__list">
                                <li>Brian dean</li>
                                <li>5 lessons</li>
                                <li>1 hour</li>
                            </ul>
                        </div>
                        <h4 class="card__title"><a href="#">Digital marketing For SMBs with Greg Gifford (fr)</a></h4>
                        <p class="card__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem
                            dignissimos modi ratione molestias assumenda adipisci placeat, maiores odit vero eaque!</p>
                        <a href="#" class="btn btn-outline-primary">enroll for free (fr)</a>

                    </div>
                </div>
            </div>





        </div>
    </div>
</section>
<!-- End course info section -->

<!-- Begining lets visit -->

<section class="lets-visit">
    <div class="container">
        <h2 class="lets-visit__title">we are always ready to help you</h2>
        <a href="#" class="btn btn-solid-secondary btn-round">lets visit</a>
    </div>
</section>

<!-- End lets visit -->