---
layout: default
title: OSHARA | Home
---
<section class="d-flex align-items-center justify-content-center flex-column useraction signup">
    <div class="useraction__inner">
        <div class="container">
            <div class="useraction__body signup-body">
                <div class="useraction__content">
                    <h2 class="text-uppercase useraction__title">Login</h2>
                    <a href="#"
                        class="d-flex align-items-center justify-content-center text-uppercase  btn btn-outline-secondary "><img
                            src="./assets/static-svgs/google.svg" alt="">Continue With Google</a>

                    <form class="form" action="#">
                        <div class="form__row">
                            <input type="email" class="form__control" placeholder="Email">
                        </div>
                        <div class="form__row">
                            <input type="password" class="form__control form__passaword" placeholder="password"
                                required="">
                        </div>
                        <div class="form__row">
                            <a href="#" class="forgot-password">Forgot your password?</a>
                        </div>
                        <div class="form__row">
                            <button class="btn  btn-block btn-solid-primary ">Login </button>
                        </div>
                        <p class="useraction__desc text-center">Don’t have a Semrush account? <a href="#">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>

            <!-- Finish Register -->
            <div class="useraction__body register">
                <div class="useraction__content">
                    <h2 class="text-uppercase useraction__title">Create your account</h2>
                    <a href="#"
                        class="d-flex align-items-center justify-content-center text-uppercase  btn btn-outline-secondary "><img
                            src="./assets/static-svgs/google.svg" alt="">Continue With Google</a>

                    <form class="form" action="#">
                        <div class="form__row">
                            <input type="email" class="form__control" placeholder="Email">
                        </div>
                        <div class="form__row">
                            <input type="password" class="form__control form__passaword" placeholder="password"
                                required="">
                        </div>
                        <div class="form__row">
                            <a href="#" class="forgot-password">Forgot your password?</a>
                        </div>
                        <div class="form__row">
                            <button class="btn  btn-block btn-solid-primary ">Login </button>
                        </div>
                        <p class="useraction__desc text-center">Don’t have a Semrush account? <a href="#">Login</a>
                        </p>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>