---
layout: default
title: OSHARA | Tracking
---

<!-- Begin hero -->
<section class="hero">
    <div class="container">
        <div class="hero__grid align-items-center">
            <div class="hero__text hero__text--mobi">
                <h6 class="hero__subtitle">Preview tool for the</h6>
                <h1 class="hero__title">display and length of your meta tags</h1>
                <p class="hero__desc">Get creative – the page title that appears in search engines is like an advertisement for the page. Use this free Google SERP snippet preview tool as a guide when creating and optimizing your Title and Meta descriptions.</p>
            </div>

            <picture class="hero__img hero__img--sm">
                <source media="(min-width: 576px)" srcset="./assets/static-svgs/Illustration.svg">
                <source media="(min-width: 320px)" srcset="./assets/static-svgs/Illustration.svg">
                <img src="./assets/static-svgs/Illustration.svg" alt="" width="640" height="635">
            </picture>
        </div>
    </div>
    <picture class="hero__pettern">
        <source media="(min-width: 576px)" srcset="./assets/static-svgs/bg-partern.svg">
        <source media="(min-width: 320px)" srcset="./assets/static-svgs/bg-partern.svg">
        <img src="./assets/static-svgs/bg-partern.svg" alt="">
    </picture>
</section>
<!-- ./End hero  -->

<!-- Begin tracking -->
<section class="tracking">
    <div class="container">
        <div class="tracking__header">
            <form action="#">
                <input type="search" name="" id="" placeholder="Enter Page URL: https://" class="tracking__input tracking__input--search">
                <small class="tracking__input-error">This field is required.</small>
            </form>

            <div class="tracking__boxs">
                <div class="tracking__box">
                    <h3>Typical Desktop Result</h3>
                    <p>Typical Desktop Result</p>
                </div>

                <div class="tracking__box">
                    <h3>Typical Mobile Result</h3>
                    <p>Your mobile results will display here.</p>
                </div>
            </div>
        </div>

        <div class="tracking__body">
            <h2 class="h1 tracking__title">Write or Edit your Title and Meta Description</h2>
            <h4 class="tracking__title-sub"><a href="#">Google says there's no limit on title tag length +</a></h4>

            <div class="tracking__items tracking__items--full">
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Page Title"></div>
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Meta Description"></div>
            </div>
        </div>
    </div>
</section>
<!-- ./End tracing -->

<!-- Begining lets visit -->

<section class="lets-visit">
    <div class="lets-visit__wrapper">
        <!-- 
        <div class="lets-visit__graphics">
            <img class="object-cover" src="./assets/images/graphics-bg.png" alt="">
        </div>  -->
        <div class="container">
            <h2 class="lets-visit__title">we are always ready to help you</h2>
            <a href="#" class="btn btn-solid-secondary btn-round">lets visit</a>
        </div>
    </div>
    
    <div class="marquee lets-visit-marquee">
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
    </div>
</section>
<!-- End lets visit -->