---
layout: default
title: OSHARA | Login Register
---
<section class="d-flex align-items-center justify-content-center flex-column useraction">
    <div class="useraction__inner">
        <div class="container">

            <!-- Begin set password -->
            <div class="useraction__body login" id="login">
                <div class="useraction__content">
                    <h2 class="text-uppercase useraction__title">Reset password</h2>

                    <form class="form" action="#" id="login-form">
                        <div class="form__row">
                            <input type="password" class="form__control form__passaword" placeholder="New password" autocomplete="off">
                            <p class="form__error">Please enter password</p>;
                        </div>
                        <div class="form__row">
                            <input type="password" class="form__control form__passaword" placeholder="Confirm password" autocomplete="off">
                            <p class="form__error">Please enter password</p>;
                        </div>
                        <div class="form__row">
                            <button class="btn  btn-block btn-solid-primary js-submit" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ./End set password -->
        </div>
    </div>
</section>