---
layout: default
title: OSHARA | Tracking
---

<!-- Begin hero -->
<section class="hero">
    <div class="container">
        <div class="hero__grid align-items-center">
            <div class="hero__text hero__text--mobi">
                <h6 class="hero__subtitle">Free tool for creating</h6>
                <h1 class="hero__title">tracking URLs for marketing campaigns</h1>
                <p class="hero__desc">Use custom campaign tracking URLs for ad campaigns in Google Ads, on LinkedIn, and for content syndication on other
                    websites.</p>
            </div>

            <picture class="hero__img hero__img--sm">
                <source media="(min-width: 576px)" srcset="./assets/static-svgs/Illustration.svg">
                <source media="(min-width: 320px)" srcset="./assets/static-svgs/Illustration.svg">
                <img src="./assets/static-svgs/Illustration.svg" alt="" width="640" height="635">
            </picture>
        </div>
    </div>
    <picture class="hero__pettern">
        <source media="(min-width: 576px)" srcset="./assets/static-svgs/bg-partern.svg">
        <source media="(min-width: 320px)" srcset="./assets/static-svgs/bg-partern.svg">
        <img src="./assets/static-svgs/bg-partern.svg" alt="">
    </picture>
</section>
<!-- ./End hero  -->

<!-- Begin tracking -->
<section class="tracking">
    <div class="tracking-preview">
        <h3 class="text-center text-uppercase tracking-preview__head">Générateur de mot de passe Laravel</h3>
        <div class="tracking-preview__container tracking-preview__container--no-radius">
            <label for="#" class="tracking-preview__label">Votre mot de passe crypté est ici :</label>
            <div class="tracking-preview__inputs">
                <input type="text" name="" placeholder="" value="$2y$10$m0g1UVOOLJ5LQ4JeNecKwOU/47K7gwNVX4ei0kvOysXz8M2Ha1f2W"
                    class="tracking__input tracking__input-copy tracking-preview__input" id="copy-slug" id="">
                <button type="button" class="tracking-preview__copy-btn">
                    <svg width="30" height="35" viewBox="0 0 30 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.25 30H10.0938C8.03516 30 6.375 28.3398 6.375 26.2812V6.625H1.59375C0.664062 6.625 0 7.35547 0 8.21875V32.6562C0 33.5859 0.664062 34.25 1.59375 34.25H19.6562C20.5195 34.25 21.25 33.5859 21.25 32.6562V30ZM21.25 7.15625V0.25H10.0938C9.16406 0.25 8.5 0.980469 8.5 1.84375V26.2812C8.5 27.2109 9.16406 27.875 10.0938 27.875H28.1562C29.0195 27.875 29.75 27.2109 29.75 26.2812V8.75H22.8438C21.9141 8.75 21.25 8.08594 21.25 7.15625ZM29.2188 5.09766L24.9023 0.78125C24.5703 0.449219 24.1719 0.25 23.7734 0.25H23.375V6.625H29.75V6.22656C29.75 5.82812 29.5508 5.42969 29.2188 5.09766Z"
                            fill="#4A4A4A" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="tracking-password">
        <div class="tracking__form">
            <form method="post" action="https://dev1.servicesdev.com/fr/url-slug-generator" id="slg-form" novalidate="novalidate">
                <input type="hidden" name="_token" value="QliThnGUiQlx1YWqnEbc3NrbzAyLMCc1pWTuuJaT">
                <div class="row">

                    <!-- the url content to transform -->
                    <div class="tracking-form__top">
                        <!-- dash separator  -->
                        <input type="radio" name="dash_separator" id="dash_separator" checked="">
                        <label for="dash_separator"> Séparer avec tiret (-) </label>

                        <!-- underscore separator  -->
                        <input type="radio" name="underscore_separator" id="underscore_separator">
                        <label for="underscore_separator"> Séparer avec tiret bas (_) </label>

                        <!-- -- remove stop words -- -->
                        <input type="checkbox" id="checkbox-remove-stop-words" name="checkbox-remove-stop-words" value="0"
                            onclick="toggle('checkbox-remove-stop-words')">
                        <label for="checkbox-remove-stop-words">Retirer les mots vides</label>


                        <!-- remove remove separator -->
                        <input type="checkbox" id="checkbox-remove-numbers" name="checkbox-remove-numbers" value="0"
                            onclick="toggle('checkbox-remove-numbers')">
                        <label for="checkbox-remove-numbers">Retirer les nombres</label>

                    </div>

                    <div class="tracking__input-row">
                        <label for="input_url">Saisissez le mot de passe que vous souhaitez crypter:</label>
                        <div class="d-lg-flex tracking__input-wrap">
                            <input type="text" name="input_url" id="input_url" placeholder="Titre de l'article, titre de page Web, ou titre du tutoriel"
                                class="tracking__input tracking__input--password" required="">
                            <button type="submit" class="tracking__input-btn">
                                <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M29.5312 19.8438L24.8438 15.1562C23.9648 14.2773 22.5 14.8633 22.5 16.1523V18.4375H20.625L17.5195 15.1562L14.3555 18.4961L18.5156 22.9492C18.6328 23.0664 18.8086 23.125 19.043 23.125H22.5V25.4688C22.5 26.7578 23.9648 27.3438 24.8438 26.4648L29.5312 21.7773C30.1172 21.25 30.1172 20.3711 29.5312 19.8438ZM0.703125 9.0625H5.625L8.67188 12.4023L11.8359 9.0625L7.67578 4.60938C7.55859 4.49219 7.38281 4.375 7.14844 4.375H0.703125C0.292969 4.375 0 4.72656 0 5.07812V8.35938C0 8.76953 0.292969 9.0625 0.703125 9.0625ZM22.5 9.0625V11.4062C22.5 12.6953 23.9648 13.2812 24.8438 12.4023L29.5312 7.71484C30.1172 7.1875 30.1172 6.30859 29.5312 5.78125L24.8438 1.09375C23.9648 0.214844 22.5 0.800781 22.5 2.08984V4.375H19.043C18.8086 4.375 18.6328 4.49219 18.5156 4.60938L5.625 18.4375H0.703125C0.292969 18.4375 0 18.7891 0 19.1406V22.4219C0 22.832 0.292969 23.125 0.703125 23.125H7.14844C7.38281 23.125 7.55859 23.0664 7.67578 22.9492L20.625 9.0625H22.5Z"
                                        fill="#183194" />
                                </svg>

                                Mot de passe aléatoire
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-3 text-center">
                    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/wqcyhEwminqmAoT8QO_BkXCr/recaptcha__fr.js"
                        crossorigin="anonymous" integrity="sha384-qd7VVDHGiqaS7shJgRP3BYm74LEaT7HVc43/jFeFjTR0PZYGAdiMJVMRtys0sBBu"></script>
                    <script src="https://www.google.com/recaptcha/api.js?hl=fr" async="" defer=""></script>
                    <div class="g-recaptcha" theme="light" data-theme="dark" id="buzzNoCaptchaId_bc9a68f64716f00fdf1cd6bb99516539"
                        data-sitekey="6LdDBickAAAAAEBhW_mlcg4IYPngHfJYgi3QHKEq">
                        <div style="width: 304px; height: 78px;">
                            <div><iframe title="reCAPTCHA"
                                    src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LdDBickAAAAAEBhW_mlcg4IYPngHfJYgi3QHKEq&amp;co=aHR0cHM6Ly9kZXYxLnNlcnZpY2VzZGV2LmNvbTo0NDM.&amp;hl=fr&amp;v=wqcyhEwminqmAoT8QO_BkXCr&amp;theme=dark&amp;size=normal&amp;cb=nbi3hqfp4n06"
                                    width="304" height="78" role="presentation" name="a-fahd973nigow" frameborder="0" scrolling="no"
                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"></iframe>
                            </div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                        </div><iframe style="display: none;"></iframe>
                    </div>
                </div>


                <!-- form buttons -->
                <div class="text-center mt-3">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-round btn-solid-primary submit tracking-submit">
                        <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M30 11.1211C30 5.37891 25.3711 0.75 19.6289 0.75C13.9453 0.808594 9.375 5.37891 9.375 11.0625C9.375 12.2344 9.55078 13.2891 9.84375 14.3438L0.410156 23.7773C0.117188 24.0703 0 24.4219 0 24.7734V29.3438C0 30.1641 0.585938 30.75 1.40625 30.75H7.96875C8.73047 30.75 9.375 30.1641 9.375 29.3438V27H11.7188C12.4805 27 13.125 26.4141 13.125 25.5938V23.25H15.293C15.7031 23.25 16.0547 23.0742 16.3477 22.7812L17.7539 21.1992C18.3398 21.3164 18.9844 21.375 19.6875 21.375C25.3711 21.375 30 16.8047 30 11.1211ZM19.6875 8.25C19.6875 6.72656 20.918 5.4375 22.5 5.4375C24.0234 5.4375 25.3125 6.72656 25.3125 8.25C25.3125 9.83203 24.0234 11.0625 22.5 11.0625C20.918 11.0625 19.6875 9.83203 19.6875 8.25Z"
                                fill="#0D0D0D" />
                        </svg>
                        Crypter
                    </button>

                    <!-- Reset the settings button -->
                    <!-- <button id="reset" class="btn btn-round btn-solid-primary">Reset</button> -->

                    <!-- Clear button -->
                    <!-- <button id="clear" class="btn btn-round btn-solid-primary">Clear</button> -->

                </div>
            </form>
        </div>
    </div>
</section>
<!-- ./End tracing -->

<!-- Begining lets visit -->

<section class="lets-visit">
    <div class="lets-visit__wrapper">
        <!-- 
        <div class="lets-visit__graphics">
            <img class="object-cover" src="./assets/images/graphics-bg.png" alt="">
        </div>  -->
        <div class="container">
            <h2 class="lets-visit__title">we are always ready to help you</h2>
            <a href="#" class="btn btn-solid-secondary btn-round">lets visit</a>
        </div>
    </div>

    <div class="marquee lets-visit-marquee">
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
    </div>
</section>
<!-- End lets visit -->