---
layout: default
title: OSHARA | Tracking
---

<!-- Begin hero -->
<section class="hero">
    <div class="container">
        <div class="hero__grid align-items-center">
            <div class="hero__text hero__text--mobi">
                <h6 class="hero__subtitle">Free tool for creating</h6>
                <h1 class="hero__title">tracking URLs for marketing campaigns</h1>
                <p class="hero__desc">Use custom campaign tracking URLs for ad campaigns in Google Ads, on LinkedIn, and for content syndication on other websites.</p>
            </div>

            <picture class="hero__img hero__img--sm">
                <source media="(min-width: 576px)" srcset="./assets/static-svgs/Illustration.svg">
                <source media="(min-width: 320px)" srcset="./assets/static-svgs/Illustration.svg">
                <img src="./assets/static-svgs/Illustration.svg" alt="" width="640" height="635">
            </picture>
        </div>
    </div>
    <picture class="hero__pettern">
        <source media="(min-width: 576px)" srcset="./assets/static-svgs/bg-partern.svg">
        <source media="(min-width: 320px)" srcset="./assets/static-svgs/bg-partern.svg">
        <img src="./assets/static-svgs/bg-partern.svg" alt="">
    </picture>
</section>
<!-- ./End hero  -->

<!-- Begin tracking -->
<section class="tracking">
    <div class="container">
        <div class="tracking__header">
            <form action="#">
                <input type="search" name="" id="" placeholder="Enter Page URL: https://" class="tracking__input tracking__input--search">
            </form>
        </div>

        <div class="tracking__body">
            <h2 class="h1 tracking__title">Create Campaign Tracking URLs</h2>

            <div class="tracking__items">
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Campaign source(referrer: google, citysearch, newsletter)"></div>
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Campaign Medium (marketing medium: cpc, banner, email)"></div>
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Campaign Name (product, promo code or slogan)"></div>
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Campaign Term (identify the paid keywords)"></div>
                <div class="tracking__item"><input type="text" class="tracking__input" placeholder="* Campaign Content (use to differentiate ads)"></div>
            </div>

            <div class="tracking__item tracking__item--footer"><input  class="tracking__input tracking__input--copy" type="text" placeholder="* Copy and paste this new campaign tracking URL into your marketing campaign."></div>

            <div class="tracking-btn-group">
                <a href="#" class="btn btn-solid-primary btn-round js-copy-url">COPY URL To Clipboard</a>
                <a href="#" class="btn btn-solid-secondary btn-round">COPY SHORT URL</a>
            </div>

        </div>
    </div>
</section>
<!-- ./End tracing -->

<!-- Begining lets visit -->

<section class="lets-visit">
    <div class="lets-visit__wrapper">
        <!-- 
        <div class="lets-visit__graphics">
            <img class="object-cover" src="./assets/images/graphics-bg.png" alt="">
        </div>  -->
        <div class="container">
            <h2 class="lets-visit__title">we are always ready to help you</h2>
            <a href="#" class="btn btn-solid-secondary btn-round">lets visit</a>
        </div>
    </div>
    
    <div class="marquee lets-visit-marquee">
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
        <h2 class="course__marquee-title"><img src="./assets/static-svgs/marquee-icon.svg" width="87" alt=""> Let’s Start</h2>
    </div>
</section>
<!-- End lets visit -->