<footer class="footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer__col">
                <h5 class="footer__title">our services</h5>
                <div class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">software and applcation
                                development</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">website</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">online store</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">SEO referencing</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">goolge advertising</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">view all</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <h5 class="footer__title">Popular Articles</h5>
                <div class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Web design</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Some web solutions</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Ecommerce website</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Online advertising</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">SEO</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">view all</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <h5 class="footer__title">Company</h5>
                <div class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">About</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Services</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Blog</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Learning</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Contact us</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">view all</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col">
                <h5 class="footer__title">Free Tools</h5>
                <div class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Tracking URLs for
                            marketing campaigns creator</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Meta tags length checker
                            and preview
                            </a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">Resources
                        </a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">osortoo.com</a></li>
                        <li class="footer-nav__item"><a href="" class="footer-nav__link">view all</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__col footer__col--offers">
                <h5 class="footer__title">our offers</h5>
                <a href="#">Do your own SEO for $34</a>
                <img src="./assets/images/offer_1-min.png" alt="">
            </div>
        </div>
        <div class="footer-bottom">
            <a href="#" class="footer__logo"><img src="./assets/static-svgs/logo.svg" alt=""></a>
            <div class="footer-cta">
                    <div class="social">
                        <a href="" class="social__link">
                            <svg width="40" height="40">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a href="" class="social__link">
                            <svg width="40" height="40">
                                <use xlink:href="#pinterest"></use>
                            </svg>
                        </a>
                        </a>
                        <a href="" class="social__link">
                            <svg width="40" height="40">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                        </a>
                        <a href="" class="social__link">
                            <svg width="40" height="40">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="footer-cta__link">
                        <a href="tel:" class="phone">+000000000</a>
                        <a href="mailto:info@oshara.com" class="mail">info@oshara.com</a>
                    </div>
                    <div class="footer-cta__address">
                        <address>123 lorem ipsum Drive <br>
                        Sit amet, ON A6B <br> United State</address>
                    </div>

            </div>

        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <p>&copy;Copyright2022@Oshara.com - All Rights Reserved</p>
        </div>
    </div> 

</footer>