

   <!-- Begin header -->
   <header class="header">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between  navbar">
            <!-- <button class="d-flex align-items-center justify-content-center d-lg-none navbar__toggler">
                <span>Menu</span>
                <img class="lazy" data-src="../build/assets/svgs/close.svg" alt="">
            </button> -->

            <a class="d-inline-flex navbar__brand" href="index.html">
                <img src="./assets/static-svgs/logo.svg" width="150" height="30" alt="">
            </a>

            <nav class="flex-lg-fill navbar__nav">
                <ul class="d-lg-flex align-items-center justify-content-center navbar__list">
                    <li class="navbar__nav-item"><a href="#" class="navbar__nav-link">courses (fr)</a></li>
                    <li class="navbar__nav-item">
                        <a href="#" class="navbar__nav-link">Oshara.cs</a>
                    </li>
                    <li class="navbar__nav-item">
                        <a href="#" class="navbar__nav-link">english</a>
                    </li>
                    <li class="navbar__nav-item">
                        <a href="#" class="navbar__nav-link">registar</a>
                    </li>
                   
                   
                </ul>
                <a href="#" class="btn btn-round btn-solid-primary navbar__nav-login">login</a>
            </nav>

            <!-- <div class="navbar__right">
                <a class="btn btn-primary navbar__btn" href="#">
                    <span class="d-none d-lg-inline-block">Book Now</span>
                    <span class="d-lg-none">Book</span>
                </a>
            </div> -->
        </div>
    </div>

  
</header>
<!-- ./ End Header -->
