<!-- Begin header -->
<header class="header">

    <div class="header__stickyWrap">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between  navbar">
                <a class="d-inline-flex navbar__brand" href="index.html">
                    <img src="./assets/static-svgs/logo.svg" width="150" height="30" alt="">
                </a>

                <nav class="flex-lg-fill navbar__nav">
                    <ul class="d-lg-flex align-items-center justify-content-center navbar__list">
                        <li class="navbar__nav-item"><a href="#" class="navbar__nav-link">courses (fr)</a></li>
                        <li class="navbar__nav-item">
                            <a href="#" class="navbar__nav-link">Oshara.cs</a>
                        </li>
                        <li class="navbar__nav-item">
                            <a href="#" class="navbar__nav-link">english</a>
                        </li>
                        <li class="navbar__nav-item">
                            <a href="login.html#register" class="navbar__nav-link">registar</a>
                        </li>
                    </ul>
                    <a href="login.html#login" class="btn btn-round btn-solid-primary navbar__nav-login">login</a>
                </nav>
                <button class="navbar-toggler d-lg-none">
                    <span class="navbar-toggler__bar"></span>
                </button>
            </div>
        </div>
    </div>


</header>
<!-- ./ End Header -->