body {
	@include text($base-font-size-m, 1.188, $bodyText, 400, null, $body-font);
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $black;

	@include media-breakpoint-up(lg) {
		font-size: rem(20px);
		line-height: rem(30px);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-secondary;
	font-weight: 700;
	color: inherit;
	line-height: 1.1925;
}

h1,
.h1 {
	font-size: $h1-font-size-m;

	@include media-breakpoint-up(lg) {
		font-size: $h1-font-size;
	}
}

h2,
.h2 {
	font-size: $h2-font-size-m;
	text-transform: uppercase;

	@include media-breakpoint-up(lg) {
		font-size: $h2-font-size;
		line-height: rem(80px);
	}
}

h3,
.h3 {
	font-size: $h2-font-size-m;

	@include media-breakpoint-up(lg) {
		font-size: $h3-font-size;
		line-height: rem(80px);
	}

}

h4,
.h4,
.sub-title {
	font-size: $h4-font-size;
}